html,
body,
#root {
  position: fixed;
  top: o;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.label div {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  background: #00000088;
  white-space: nowrap;
  padding: 15px;
  color: #fff;
  overflow: hidden;
  border-radius: 30px;
  user-select: none;
}
